<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <title>Appointments</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css" />
        <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

        <link rel="stylesheet" type="text/css" href="/static/css/busy.css" />

        <!-- The rest of our javascript dependencies are bundled and -->
        <!-- 'minified' by 'browserify'  -->
        <script type="text/javascript" src="/static/js/busy.js"></script>

</head>

<body>
    <div class="container">
        <form action="/set" method="POST">
            <br />
            <label>Calendar:</label>
            <select name="calid">
                {% for cal in session.calendars %}
                    {% if session.calid == cal.id %}
                        <option value="{{ cal.id }}" selected>{{ cal.summary }}</option>
                    {% else %}
                        <option value="{{ cal.id }}">{{ cal.summary }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br />
            <label>Date:</label>
            <input name="daterangevalue" value="{{ session.daterange }}" hidden/>
            <input name="daterange" style="width:200px" />
            <br />
            <label>Time:</label>
            From <input type="time" name="begin_time" value="{{ session.begin_time }}"/>
            to <input type="time" name="end_time" value="{{ session.end_time }}" />
            <br />
            <button class="btn btn-primary btn-sm">Choose</button>
        </form>
        <h3>Candidate times</h3>
        <ul>
            {% for t in free_times %}
                <li>{{ t }}</li>
            {% endfor %}
        </ul>
        <h3>Avoiding conflicts with</h3>
        <ul>
            {% for t in busy_times %}
                <li>{{ t }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
